<div>
    <div class="row">
        <div class="col-md-1">
            Search Criteria
        </div>
        <div class="col-md-2">
            <ng-select [items]="typeOptions"
                       [(ngModel)]="selectedType">
            </ng-select>
        </div>

        <div class="col-md-2">
            <ng-select [items]="fields"
                       bindLabel="value"
                       bindValue="id"
                       [(ngModel)]="selectedField">
            </ng-select>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" name="filterValue" id="filterValue" [(ngModel)]="filterValue"/>
        </div>

        <div class="col-md-4">
            <button type="button" class="btn btn-primary">Add criterion</button>
            <button type="button" class="btn btn-primary" (click)="search()">Search</button>

        </div>

    </div>
    <div class="row">
        <div class="col-md-1">
            <ng-select [items]="recordsPerPageOptions"
                       [clearable]="false"
                       [(ngModel)]="recordsPerPageValue">
            </ng-select>
        </div>
        <div class="col-md-1">
            records per page
        </div>
        <div class="col-md-10">

        </div>
    </div>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="players">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span>ID</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="userName"><span>User Name</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="nickName"><span>Nick Name</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="fullName"><span>Full Name</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="address"><span>Address</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th>
                    <ngb-tabset (tabChange)="beforeChange($event)">
                        <ngb-tab title="Mail" id="mail"></ngb-tab>
                        <ngb-tab title="Mobile" id="mobile"></ngb-tab>
                        <ngb-tab title="Tel" id="tel"></ngb-tab>
                    </ngb-tabset>
                </th>
                <th jhiSortBy="contractId"><span>Contract Id</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="gameAccount"><span>Game Account</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="creationDate"><span>Creation Date</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>

                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let player of players ;trackBy: trackId">
                <td><a [routerLink]="['/player', player.id, 'view' ]">{{player.id}}</a></td>
                <td>{{player.userName}}</td>
                <td>{{player.nickName}}</td>
                <td>{{player.fullName}}</td>
                <td>{{player.address}}</td>

                <td>{{getSelectedFieldValue(player)}}</td>

                <td>{{player.contractId}}</td>
                <td>{{player.gameAccount}}</td>
                <td>{{player.creationDate | date:'medium'}}</td>

                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/player', player.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/player', player.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'player/'+ player.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="players && players.length">

        <div class="row">
            <div class="col-md-3">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5"
                                [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="col-md-6">

            </div>

            <div class="col-md-3">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage"
                                [maxSize]="50"
                                [rotate]="true" (pageChange)="loadPage(page)"
                                [directionLinks]="true"></ngb-pagination>

            </div>

        </div>


        <!--        <div class="row justify-content-center">
                    <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5"
                                    [itemsPerPage]="itemsPerPage"></jhi-item-count>
                </div>
                <div class="row justify-content-center">
                    <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                                    [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
                </div>-->
    </div>
</div>
